<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zagorapps.utilities_suite"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.deviceinteraction.DeviceInteractionActivity"
            android:label="@string/title_activity_device_interaction"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.deviceinteraction.InteractionSettingsActivity"
            android:label="@string/title_activity_interaction_settings"
            android:parentActivityName=".activities.deviceinteraction.DeviceInteractionActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.deviceinteraction.DeviceInteractionActivity"/>
        </activity>
        <activity
            android:name=".activities.prototypes.UdpConnectToServer"
            android:label="@string/title_activity_udp_connect_to_server"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zagorapps.utilities_suite.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.QrCodeScannerActivity"
            android:label="@string/title_activity_qr_code_scanner"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zagorapps.utilities_suite.activities.MainActivity"/>
        </activity>
    </application>

</manifest>